.headline {
  text-align: center;
  border: #888;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  border-radius: 100%;
  width: 350px;
  display: block;

}

.nav-bar {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #1c97b6;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color:black;
  background-color: rgb(180, 180, 180);
}

.self-intro-p {
  text-align: center;
  flex-wrap: wrap;
  
}

.card {
  padding: 2em;
}

.footer {
  color: #888;
}

.socials {
  text-align: center;
  margin: 10px;
}

.self-intro-p {
  text-align: center;
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.intro-header {
  text-align: center;
}