:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.headline {
  text-align: center;
  border: #888;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  border-radius: 100%;
  width: 350px;
  display: block;

}

.nav-bar {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #1c97b6;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color:black;
  background-color: rgb(180, 180, 180);
}

.self-intro-p {
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 6em;
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  padding: 2em;
}

.footer {
  color: #888;
  text-align: center;
}

.socials {
  text-align: center;
  margin: 10px;
}

.intro-header {
  text-align: center;
}

.giphy-embed {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.goals-header {
  font-size: 4em;
  line-height: 1.1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}