.info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-width: 2px;
}

.self-intro-p {
    text-align: center;
    padding: 1em;
    flex-wrap: wrap;
    margin-bottom: 1em;
    display: block;
    width: 75%;
    border-style: solid;
    border-radius: 1em;
    border-color: #88888867;
    border-width: 2px;
    
  }
  