button {
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 9px #999;
}